Section "InputClass"
    Identifier "libinput touchpad catchall"
    MatchDevicePath "/dev/input/event*"
    Driver "libinput"
    MatchIsTouchpad "on"
        Option "Tapping" "on"
        Option "TapButton1" "1"
        Option "TapButton2" "3"
        Option "TapButton3" "2"
        Option "DisableWhileTyping" "on"
        Option "NaturalScrolling" "on"
        Option "VertEdgeScroll" "on"
        Option "VertTwoFingerScroll" "on"
        Option "HorizEdgeScroll" "on"
        Option "HorizTwoFingerScroll" "on"
EndSection
